__pycache__/
*.py[cod]
*$py.class

env/

*.task
*.pth
*.mp4
*.avi

.DS_Store
Thumbs.db

diagrams/
dist/
models/
build/
.pytest_cache/
eyetheia.spec

try.py
draw.py
dwell_controller2.py
calibration_page2.py
vlc2.py
vlc3.py
vlcnew.py
vlcs.py
app2.py
appS.py